fieldset {
    /* background-color: pink; */
    border-radius: 10px;
    border-color: lightgray
}

legend {
    color: darkslategrey
}

 #firstField label {
    float:left;
    width:25%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    }